// SHARED
@import "shared/variables";
@import "shared/mixins";
@import "shared/general";

// SECTIONS
@import "sections/hero";
@import "sections/why";
@import "sections/imagine";
@import "sections/evolve";
@import "sections/believe";
@import "sections/ecosystem";
@import "sections/focus";
@import "sections/contact";
