// CONTACT SECTION

.contact {
  background: $black;
  &-left {
    color: $white;
    @include breakpoint(Mdown) {
      padding-bottom: 40px;
    }
    a {
      margin-top: 40px;
      font-size: 20px;
      display: inline-block;
      text-decoration: none;
      color: $white;
      background: $blue;
      border-radius: 6px;
      padding: 10px;
      @include breakpoint(Mdown) {
        margin-left: 20px;
      }
      &:hover {
        color: $blue;
        background: $white;
      }
    }
  }
  &-right {
    @include breakpoint(Mdown) {
      padding: 0 0 100px;
    }
    form {
      width: 45vw;
      @include breakpoint(Ldown) {
        width: 100%;
      }
      ::-webkit-input-placeholder {
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $white;
      }
      :-ms-input-placeholder {
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $white;
      }
      ::placeholder {
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $white;
      }
      .form-block {
        display: flex;
        align-items: center;
        @include breakpoint(Mdown) {
          flex-direction:  column;
          margin: 0 20px;
        }
        span {
          display: flex;
          padding: 10px;
          input {
            flex-grow: 1;
            height: 50px;
            border: 1px solid $darkgrey;
            padding-left: 20px;
            background: none;
            color: $white;
            border-radius: 6px;
            &:focus {
              border-color: $blue;
            }
          }
        }
        select {
          color: $darkgrey;
          border-radius: 0;
          -webkit-border-radius: 0;
          background: none;
          background-size: 1.5rem;
          cursor: pointer;
          border: 1px solid $darkgrey;
          width: 100%;
          height: 56px;
          text-indent: 0.01px;
        }
        textarea {
          background: none;
          border: 1px solid $darkgrey;
          padding: 20px;
          width: 100%;
          min-height: 100px;
          color: $white;
          border-radius: 6px;
          &:focus {
            border-color: $blue;
          }
        }
        button {
          border: none;
        }
        .half {
          width: 50%;
          @include breakpoint(Mdown) {
            width: 100%;
          }
        }
        .full {
          width: 100%;
        }
      }
    }
  }
  footer {
    color: $white;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
    @include breakpoint(Mdown) {
      border: none;
    }
    .footer-inner {
      padding: 20px 40px;
      display: flex;
      align-items: center;
      @include breakpoint(Mdown) {
        justify-content: center;
      }
      p {
        font-size: 16px;
        margin-left: 20px;
        @include breakpoint(Sdown) {
          text-align: center;
          margin: 0;
          font-size: 12px;
        }
      }
      img {
        max-width: 70px;
        @include breakpoint(Mdown) {
          display: none;
        }
      }
      a {
        margin-left: 25px;

        @include breakpoint(Mdown) {
          margin: 0 12px;
        }
        svg {
          path {
            fill: $blue;
            transition: all 200ms ease;
          }
        }
        &:hover {
          svg {
            path {
              fill: $purple;
            }
          }
        }
      }
    }
  }
  .contact-left-img {
    position: absolute;
    left: 0;
    bottom: 160px;
  }
}
