// FOCUS SECTION

.focus {
  background: $black;
  color: $white;
  z-index: 0;
  &-left {
    a {
      margin-top: 20px;
      @include breakpoint(Mdown) {
        margin-left: 40px;
      }
    }
  }
  &-right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    height: 60vh;
    @include breakpoint(Mdown) {
      height: auto;
      padding-top: 0;
    }
    .focus-area {
      width: 33%;
      @include breakpoint(Mdown) {
        width: 50%;
      }
      &-content {
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 240px;
        height: 240px;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-size: 12px;
        transition: .3s ease-out;
        @include breakpoint(Mdown) {
          font-size: 10px;
          width: 100%;
          height: 100px;
        }
        svg {
          transition: .3s ease-out;
          g {
            stroke: $white;
          }
        }
        &:hover {
          background: $white;
          color: $blue;
          box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.30);
          @include breakpoint(Mdown) {
            background: none;
            box-shadow: none;
            color: $white;
          }
          svg {
            transform: translateY(-25%);
            g {
              stroke: $blue;
              @include breakpoint(Mdown) {
                stroke: $white;
              }
            }
          }
          &:before {
            content: " ";
            position: absolute;
            right: 0;
            top: 0;
            z-index: -2;
            height: 80vh;
            width: 80vw;
          }
        }
      }
      &-1 {
        .focus-area-content {
          &:hover {
            &:before {
              background: transparent url("../images/focus/focus-1.png") no-repeat;
              background-size: contain;
            }
          }
        }
      }
      &-2 {
        .focus-area-content {
          &:hover {
            &:before {
              background: transparent url("../images/focus/focus-2.png") no-repeat;
              background-size: contain;
            }
          }
        }
      }
      &-3 {
        .focus-area-content {
          &:hover {
            &:before {
              background: transparent url("../images/focus/focus-3.png") no-repeat;
              background-size: contain;
            }
          }
        }
      }
      &-4 {
        .focus-area-content {
          &:hover {
            &:before {
              background: transparent url("../images/focus/focus-4.png") no-repeat;
              background-size: contain;
            }
          }
        }
      }
      &-5 {
        .focus-area-content {
          &:hover {
            &:before {
              background: transparent url("../images/focus/focus-5.png") no-repeat;
              background-size: contain;
            }
          }
        }
      }
      &-6 {
        .focus-area-content {
          &:hover {
            &:before {
              background: transparent url("../images/focus/focus-6.png") no-repeat;
              background-size: contain;
            }
          }
        }
      }
    }
  }
}
