// HERO SECTION

header {
  background: $black;
  z-index: 1;
  opacity: 0;
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @include breakpoint(XSdown) {
    flex-direction: column;
    position: absolute;
  }
  a.brand {
    padding: 15px 40px;
    display: flex;
    align-items: center;
    @include breakpoint(XSdown) {
      border-radius: 50px;
    }
    .brand-mark {
      max-height: 50px;
      background: $black;
      border: 2px solid $black;
      border-radius: 100%;
    }
    .brand-name {
      max-height: 26px;
      margin-left: 20px;
    }
  }
  nav {
    position: fixed;
    right: 40px;
    z-index: 9999;
    @include breakpoint(XSdown) {
      position: relative;
      right: 0;
      margin-top: 60px;
    }
  }
}

.hero {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 10vh;
  justify-content: center;
  align-items: flex-end;
  background-color: $black;
  color: $white;
  .hello {
    position: fixed;
    width: 100%;
    top: 37%;
    text-align: center;
    @include breakpoint(Sdown) {
      top: 30%;
    }
    &-content {
      display: block;
      max-width: 900px;
      margin: 0 auto;
      font-size: 60px;
      text-align: center;
      font-weight: 700;
      @include breakpoint(Mdown) {
        font-size: 40px;
      }
      @include breakpoint(Sdown) {
        font-size: 24px;
        margin: 0 20px;
        line-height: 34px;
      }
      .highlight {
        background: $blue;
        border-radius: 6px;
        padding: 3px 15px 4px;
        font-size: 40px;
        @include breakpoint(Mdown) {
          font-size: 30px;
        }
        @include breakpoint(Sdown) {
          font-size: 20px;
        }
      }
    }
  }
  .intro {
    display: none;
    max-width: 920px;
    margin: 37vh auto 0;
    text-align: center;
    @include breakpoint(Mdown) {
      padding: 20px;
      max-width: 500px;
    }
    @include breakpoint(Sdown) {
      margin-top: 30vh;
    }
    p {
      color: $white;
      letter-spacing: 0.2px;
    }
    h1 {
      @include breakpoint(Mdown) {
        font-size: 30px;
      }
      @include breakpoint(Sdown) {
        font-size: 26px;
        line-height: 34px;
      }
      span.js-rotating {
        span {
          background: $blue;
          border-radius: 6px;
          padding: 1px 10px 2px;
        }
      }
    }
  }
  .arrow {
    opacity: 0;
    display: none;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: block;
    margin-right: auto;
    margin-bottom: 140px;
    margin-left: auto;
  }
}
