// IMAGINE SECTION

.imagine {
  background: $black;
  color: $white;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 0;
  video {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.5;
    @include breakpoint(Mdown) {
      display: none;
    }
  }
  &-intro {
    z-index: 1;
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
    @include breakpoint(Mdown) {
      text-align: left;
    }
  }
  .image {
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.30);
    position: absolute;
    @include breakpoint(Mdown) {
      display: none;
    }
    &-1 {
      max-width: 350px;
      top: 20%;
      left: 100px;
      @include breakpoint(Ldown) {
        max-width: 300px;
        left: 50px;
      }
    }
    &-2 {
      max-width: 200px;
      top: 50%;
      left: 350px;
      @include breakpoint(Ldown) {
        max-width: 150px;
        top: 43%;
        left: 300px;
      }
    }
    &-3 {
      max-width: 350px;
      top: 15%;
      left: 360px;
      @include breakpoint(Ldown) {
        max-width: 270px;
        left: 320px;
      }
    }
  }
  .imagine-right-img {
    position: absolute;
    right: 0;
    bottom: 100px;
  }
}
