// VARIABLES
$black:       #010001;
$darkgrey:    #E0DEE1;
$lightgrey:   #F6F7F7;
$grey:        #F5F5F5;
$white:       #FFFFFF;
$brightblue:  #10A0FF;
$blue:        #556BFF;
$darkblue:    #3B50DA;
$lightpurple: #7A71E7;
$purple:      #514B9A;
